.title-project {
  text-align: center;
  color: $text-color-ligth;
  font-size: 2rem;
  margin: 10% 0;
  font-family: $font;
}

.projet-container {
  display: flex;
  justify-content: center;
  // flex-flow: wrap;
  flex-direction: column;
  align-items: center;
  position: relative;
  animation-name: fade;
  animation-duration: 1s;
  padding-bottom: 10%;
  height: 100%;
  padding: 0;
  @media screen and (max-width: 489px) {
    flex-flow: inherit;
    flex-direction: column;
    align-items: center;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0vh 0vw 10vh 0;
  width: 80%;
  font-family: "Source sans pro";
  padding: 10px;
  animation-name: fade;
  box-shadow: -11px -11px 11px #262626, 11px 11px 11px #404040;
  border-radius: 0.1em;
  animation-duration: 1s;
  color: black;
  @media screen and (max-width: 480px) {
    background-size: cover;
    width: 80%;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .project-description {
    // height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 468px) {
      // height: 35vh;
    }
  }
  .title {
    font-size: 2rem;
    font-weight: normal;
    height: fit-content;
    font-family: $font;
    color: $text-color-ligth;
    @media screen and (max-width: 489px) {
      font-size: 1.5em;
    }
  }
  .date {
    font-size: 1.3rem;
    font-weight: normal;
    font-family: $font;
    color: $text-color-ligth;
    @media screen and (max-width: 489px) {
      font-size: 1em;
    }
  }
  .languages {
    font-size: 1.3rem;
    font-weight: normal;
    font-family: $font;
    color: $text-color-ligth;

    @media screen and (max-width: 489px) {
      font-size: 1em;
    }
  }
  .base {
    text-align: center;
    margin-top: 0.5em;
  }
  .infos {
    margin: 1em 0;
    text-align: center;
    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
      font-family: $font;
      color: $text-color-ligth;
      @media screen and (max-width: 489px) {
        font-size: 1em;
      }
    }
  }
}

.img-container {
  width: 100%;
  height: auto;
  border-radius: 0.1em;
  margin-top: 1em;
}

button {
  background-color: $color2;
  padding: 0.5em;
  color: $text-color-dark;
  border-color: transparent;
  border-radius: 0.1em;
  margin-bottom: 1em;

  &:hover {
    cursor: pointer;
  }
}
