.title-project {
  text-align: center;
  color: $text-color-ligth;
  font-size: 3em;
  margin: 10% 0;
  font-family: $font;
}

.projet-container {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  position: relative;
  animation-name: fade;
  animation-duration: 1s;
  padding-bottom: 10%;
  background-color: $color1;
  height: 100%;
  padding: 0;
  @media screen and (max-width: 489px) {
    flex-flow: inherit;
    flex-direction: column;
    align-items: center;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0vh 3vw 10vh 0;
  width: 40%;
  font-family: "Source sans pro";
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: fade;
  animation-name: fade;
  box-shadow: -11px -11px 11px #262626, 11px 11px 11px #404040;
  border-radius: 50px;
  animation-duration: 1s;
  color: black;
  @media screen and (max-width: 480px) {
    background-size: cover;
    width: 60%;
  }
  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  &:hover {
    cursor: pointer;
  }
  .slider-content {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    @media screen and (max-width: 468px) {
      height: 35vh;
    }
  }
  .title {
    font-size: 2rem;
    font-weight: normal;
    height: fit-content;
    font-family: $font;
    @media screen and (max-width: 489px) {
      font-size: 1.5em;
    }
  }
  .date {
    font-size: 1.3rem;
    font-weight: normal;
    font-family: $font;
    @media screen and (max-width: 489px) {
      font-size: 1em;
    }
  }
  .languages {
    font-size: 1.3rem;
    font-weight: normal;
    font-family: $font;

    @media screen and (max-width: 489px) {
      font-size: 1em;
    }
  }
  .base {
    margin-top: 15px;
  }
  .infos {
    text-align: left;
    @keyframes fade {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: 400;
      font-family: $font;
      @media screen and (max-width: 489px) {
        font-size: 1em;
      }
    }
  }
}
