#name{
    animation: 30s ease infinite;
    perspective: 200px;
    position: relative;
    display: flex;
}

// .letter {
//     // transform: translate(200px);
//   }

@keyframes anim {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    25%{
        transform: translateY(-50px);
    }
    50%{
        opacity: 0;
        transform: translateY(-100px);
    }
    75%{
        opacity: 0;
        transform: translateY(-150px);
    }
    100% {
      opacity: 0;
      transform: translateY(-600px);
    }
}