---
import Copyright from "./svg/Copyright.astro";
import ExternalLink from "../components/svg/TablerExternalLink.astro";
---

<footer class="my-10 border-t pt-10">
  <div class="flex flex-row justify-between gap-1.5">
    <span class="inline-flex items-center gap-1.5 text-sm"
      >Copyright <Copyright fill="dark:fill-white" /> 2025 - Jordray KALENGA</span
    >
    <span class="text-sm">
      Inspiré de : <a
        class="text-sm font-medium underline underline-offset-2 decoration-1 group inline-flex items-center gap-1.5 w-max"
        href="https://fredkiss.dev/"
        >https://fredkiss.dev/ <ExternalLink
          class="motion-safe:group-hover:animate-bounce"
        />
      </a>
    </span>
  </div>
</footer>
