---
import Copyright from "./svg/Copyright.astro";
import Link from "../components/Link.astro";

const year = new Date().getFullYear();
---

<footer class="my-10 border-t pt-10">
  <div
    class="flex sm:flex-row flex-col sm:justify-between items-center gap-1.5"
  >
    <span class="inline-flex items-center gap-1.5 text-sm"
      >Copyright <Copyright fill="dark:fill-white" />
      {year} - Jordray KALENGA</span
    >
    <span class="text-sm">
      Inspiré de :
      <Link href="https://fredkiss.dev/"> https://fredkiss.dev/ </Link>
    </span>
  </div>
</footer>
