---
import Github from "./svg/Fa6BrandsGithub.astro";
import Blusky from "./svg/Fa6BrandsBluesky.astro";
import Linkedin from "./svg/Fa6BrandsLinkedin.astro";
import Link from "./Link.astro";
---

<div class="flex flex-row items-center justify-start gap-4 mt-3">
  <div class="flex flew-row">
    <Link href="https://github.com/kaldray">
      <Github /> Github
    </Link>
  </div>
  <div class="flex flew-row">
    <Link
      href="https://www.linkedin.com/in/jordray-kalenga-ndontoni-330b7919b/"
    >
      <Linkedin /> Linkedin
    </Link>
  </div>
  <div class="flex flew-row">
    <Link href="https://bsky.app/profile/dray-25.bsky.social">
      <Blusky /> Blusky
    </Link>
  </div>
</div>
