---
import { getCollection, render } from "astro:content";
import WorkIcon from "./svg/MaterialSymbolsLightWork.astro";
let allExperiences = await getCollection("work");

allExperiences = allExperiences.sort((a, b) => {
  return (
    new Date(b.data.startDate).getTime() - new Date(a.data.startDate).getTime()
  );
});

function formatDate(date: Date) {
  const dateObject = new Date(date);
  const options: Intl.DateTimeFormatOptions = {
    year: "numeric",
    month: "numeric",
    day: "numeric",
  };
  return dateObject.toLocaleDateString("fr-FR", options);
}
---

<section class="my-10">
  <h2 class="font-display text-2xl font-semibold my-5">Expériences</h2>
  {
    allExperiences.map(async (data) => {
      const { Content } = await render(data);
      return (
        <>
          <article class="flex flex-col gap-1.5 my-5 text-balance">
            <h3 class="text-lg font-semibold w-max inline-flex items-center gap-1.5">
              {data.data.company} <WorkIcon class="dark:fill-white/85" />
            </h3>
            <h4 class="text-md font-medium">{data.data.jobTitle}</h4>
            <div class="*:list-disc *:text-black/80 [&_ul]:ml-10 [&_li]:text-md [&_li]:font-normal [&_p]:text-md">
              <Content />
            </div>
            <span class="text-sm font-normal">
              {formatDate(data.data.startDate)} -
              {typeof data.data.endDate === "string"
                ? "en cours"
                : formatDate(data.data.endDate)}
            </span>
          </article>
        </>
      );
    })
  }
</section>
