.navbar-info .navbar-toggler {
    color: rgba(255, 255, 255);
}
.navbar-info .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-info .navbar-toggler:hover {
    color: rgba(255, 255, 255, 0.5);
    border-color: black;
}

@media (min-width: 992px) {
    #player-container {
        order: 1;
    }

    .nav-right {
        margin-left: auto;
    }
}

#player-container audio {
    max-height: 2em;
    flex: 3;
    margin-left: 0.4em;
}
#player-container audio:focus {
    outline: none;
}
#player-container audio::-webkit-media-controls-enclosure {
    border-radius: 0;
}

.song img {
    max-width: 256px;
}

.song {
    position: relative;
}

.song .stretched-link {
    font-size: 0;
}

.song .fav-button,
.song .play-button {
    position: absolute;
    bottom: 1em;
    z-index: 2;
}
.song .fav-button {
    right: 1em;
}
.song .play-button {
    right: 4em;
}

.song .play-button::before {
    content: "\25b6";
    font-family: Arial, sans-serif;
    margin-right: 0.33em;
}

.spinner {
    margin: 1em;
    width: 2.5em;
    height: 2.5em;
    border: 0.5em solid #f0f0f0;
    border-top: 0.5em solid #007bff;
    border-radius: 2em;
    animation: spinner-rotate 0.66s linear infinite;
}

@keyframes spinner-rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pulse-once {
    animation: pulse 350ms 1;
}

@keyframes pulse {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    25% {
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.music,
.music::before,
.music::after {
    width: 0.25em;
    background-color: #fff;
    border-radius: 0.25em;
    transform-origin: 50% 100%;
}
.music {
    height: 1em;
    margin: 0 1em;
    position: relative;
}
.music::before,
.music::after {
    content: "";
    position: absolute;
    bottom: 0;
}
.music::before {
    height: 0.8em;
    left: -0.4em;
}
.music::after {
    height: 0.6em;
    right: -0.4em;
}
.music.music-animated {
    animation: playing 650ms infinite;
}
.music.music-animated::before {
    animation: playing 650ms 500ms infinite;
}
.music.music-animated::after {
    animation: playing 650ms 250ms infinite;
}
@keyframes playing {
    25% {
        transform: scaleY(1.2);
    }
    75% {
        transform: scaleY(0.8);
    }
}

.music.music-animated {
    animation: playing 650ms infinite;
    background-color: #17a2b8;
}

.music,
.music::before,
.music::after {
    width: 0.25em;
    background-color: #17a2b8;
    border-radius: 0.25em;
    transform-origin: 50% 100%;
}
