---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <meta name="title" content="Jordray KALENGA" />
    <meta
      name="description"
      content="Développeur full-stack, à ses heures perdues."
    />
    <meta name="keywords" content="Développeur,web,fullstack" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="French" />
    <meta property="og:description" content="Mon portfolio personnel" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://portf-flax.vercel.app/" />
    <meta property="og:title" content="Jordray KALENGA" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="https://portf-flax.vercel.app/" />
    <meta property="twitter:url" content="https://portf-flax.vercel.app/" />
    <meta name="twitter:title" content="Jordray KALENGA" />
    <meta
      name="twitter:description"
      content="Développeur full-stack, à ses heures perdues."
    />
    <title>Jordray KALENGA</title>
  </head>
  <body
    class="bg-stone-200 dark:bg-stone-700 text-black/80 dark:**:text-white/85 md:max-w-4/6 max-w-3/4 mx-auto font-display"
  >
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
