nav{
    background-color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    overflow: hidden;
    padding: 5px;
    z-index: 10;
    width: 100vw;
    top: 0;
    @media screen and  (max-width :468px) {
        padding-top: 10px;
        padding: 0;
    }
    img{
        width: 5vw;
        @media screen and  (max-width :468px) {
            width: 15vw;
            margin-top: 18px;
        }
        &:hover{
            cursor: pointer;
        }
    }
}


